*{
    box-sizing: border-box;
}

html,body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body,section{
    padding: 20px;
    padding: 20px;
}

video{
    width: 100%;
    max-height: 30vh;
}

h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 24px;
}

h2{
    font-size: 16px;
    font-weight: normal;
}

time{
    font-size: 50px;
    display: block;
    text-align: center;
    font-weight: bold;
}

h3{
    font-size: 24px;
    font-weight: normal;
}

h4{
    font-size: 12px;
    font-weight: normal;
    padding-top: 15px;
}

h5{
    font-size: 16px;
    font-weight: bold;
    padding-top: 30px;
    color: grey;
}

section.bottom{
    background-color: white;
    border-radius: 5px;
    filter: drop-shadow(0px 1px 1px grey);
}